<div style="position:relative;width:{{ include.width }};margin-bottom:30px">
  <img
    style="z-index:0;width:100%;"
    src="data:image/jpg;base64,{{site.data.preloadedImages[include.src]}}">
  <img
    style="position:absolute;z-index:1;left:0;width:100%;"
    src="{{site.images.baseUrl}}/{{ include.src }}.jpg"
    srcset="{% for width in site.images.srcset %}{{ site.images.baseUrl }}/resized/{{ include.src }}_{{ width }}.jpg {{ width }}w{% if forloop.last == false %}, {% endif %}{% endfor %}"
    alt="{{ include.alt }}">
</div>